
<form nz-form nz-layout="hozirontal" [formGroup]="formGroup" (ngSubmit)="submit()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="userName">User Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="User name is required">
            <input nz-input formControlName="userName" id="userName" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
            <input nz-input type="password" id="password" formControlName="password" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row >
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Sign Up</button>
        </nz-form-control>
      </nz-form-item>
</form>